<div id="reviews">
    <h5 id="review_amount">25 reviews</h5>
    <% for(let i=1; i < 7; i++) { %>
    <div id="review">
        <h1 id="customer">Riad hossian</h1>
        <div class="star_rate">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <p class="date"> 25 dec ,2020</p>
        </div>
        <p id="review_words">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. maiores, cumque dolorum
            architecto esse similique fugiat corporis ullam! Dolorum?
        </p>
    </div>
    <% } %>
</div>
<div id="star_percentage">
    <h5 id="give_review">Give a review</h5>
    <div class="star_percentage_info">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <span>(98%)</span>
        <p class="date">30 reviews</p>
    </div>
    <div class="star_percentage_info">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i> 
        <i class="far fa-star"></i>
        <span>(98%)</span>
        <p class="date">30 reviews</p>
    </div>
    <div class="star_percentage_info">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <span>(98%)</span>
        <p class="date">30 reviews</p>
    </div>
    <div class="star_percentage_info">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <span>(98%)</span>
        <p class="date">30 reviews</p>
    </div>
    <div class="star_percentage_info">
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i><i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <span>(98%)</span>
        <p class="date">30 reviews</p>
    </div>
    <div class="star_percentage_info">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <span>(98%)</span>
        <p class="date">30 reviews</p>
    </div>
</div>