<footer class="site_footer">

    <div class="footer_row">
        <div class="footer_content_container">
            <h2 class="footer_headings">About Us</h2>
            <p class="footer_about_des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium
                magnam
                voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
        </div>
        <div class="footer_content_container">
            <h2 class="footer_headings">Quick Links</h2>
            <ul class="footer_links">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer_content_container">
            <h2 class="footer_headings">Follow Us</h2>
            <a href="#" class="follow_link"><i class="fab fa-facebook-square"></i></a>
            <a href="#" class="follow_link"><i class="fab fa-instagram-square"></i></a>
            <a href="#" class="follow_link"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="follow_link"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>

    <div class="copy_right">
        <h4>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved
        </h4>
    </div>

</footer>



<!-- <div class="footer_content_container">
            <div class="footer_add_img">
                <img src="/images/sample_3.png" alt="">
                <h1 class="featured_title">A fancy title of the product</h1>
                <h3>Peice: 36$</h3>
            </div>
            <div class="featured_product_footer">
                <form class="add_cart_form" action="">
                    <button class="add_to_cart_btn">Add to cart</button>
                </form>
            </div>
        </div> -->