<%- include('./includes/common_view/head.ejs') %>

<link rel="stylesheet" type="text/css" href="/css/shop.css">
<link rel="stylesheet" type="text/css" href="/css/common_css/product_card.css">

</head>

<body>

	<header id="header">
		<%- include('./includes/common_view/navigation.ejs') %>
		<div id="top_adds">
			<div id="top_adds_img_slider">
				<img  src="/images/home_back_3.jpg" alt="" class="centralize top_add_img _hide">
				<img src="/images/home_back_4.jpg" alt="" class="centralize top_add_img">
				<h1 class="greet centralize _hide">Say something fancy of your company here</h1>
				<h1 class="greet centralize">Say another as your wish</h1>
				<i class="fas fa-angle-double-down scrolldown"></i>
			</div>
			<ul class="shop_links">
				<li class="shop_link"><a href="">NEW ARRIVALS</a></li>
				<li class="shop_link"><a href="">BEST SELLERS</a></li>
				<li class="shop_link"><a href="">EXTENDED WIDTH</a></li>
				<li class="shop_link"><a href="">SALE</a></li>
				<li class="shop_link"><a href="">MORE</a></li>
			</ul>
		</div>
	</header>


	<section class="section_title">
		<h1 id="catagory_menu">Catagories<i class="fas fa-caret-down"></i></h1>
		<!-- <h1>Filters<i class="fas fa-clipboard-list"></i></h1> -->
	</section>
	<section id="catagories">
		<div class="catagory de_activate_catagory_mobile">
			<h1 class="catagory_name">Catagory Name <i class="fas fa-angle-down catagory_mob_icon"></i></h1>
			<ul class="sub_catagory de_activate_catagory_mobile">
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
			</ul>
		</div>
		<div class="catagory de_activate_catagory_mobile">
			<h1 class="catagory_name">Catagory Name <i class="fas fa-angle-down catagory_mob_icon"></i></h1>
			<ul class="sub_catagory de_activate_catagory_mobile">
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
			</ul>
		</div>
		<div class="catagory de_activate_catagory_mobile">
			<h1 class="catagory_name">Catagory Name <i class="fas fa-angle-down catagory_mob_icon"></i></h1>
			<ul class="sub_catagory de_activate_catagory_mobile">
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
			</ul>
		</div>
		<div class="catagory de_activate_catagory_mobile">
			<h1 class="catagory_name">Catagory name <i class="fas fa-angle-down catagory_mob_icon"></i></h1>
			<ul class="sub_catagory de_activate_catagory_mobile">
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
				<li>Sub Catagoty</li>
			</ul>
		</div>

	</section>

	<section id="main_shop">
		<div id="filter_sec">
			<div class="filter_sec_title">
				<h4 id="filter_menu">Filter your needs <i class="fas fa-filter"></i></h4>
			</div>
			<div class="activate_mobile_filter_view">
				<div>
					<i id="hide_filter_bar" class="fas fa-backward"></i>
				</div>
				<div class="filter_types">
					<ul class="filter_type">
						<h3>Brand</h3>
						<li class="filter_option"><a href="">Option one</a></li>
						<li class="filter_option"><a href="">Option two</a></li>
						<li class="filter_option"><a href="">Option three</a></li>
						<li class="filter_option"><a href="">Option four</a></li>
					</ul>
				</div>
				<div class="filter_types">
					<form action="" id="price_fiter_form" class="filter_type">
						<h3>Price</h1>
							<input type="text" name="min_price" id="min_price" placeholder="Minimum">
							<input type="text" name="max_price" id="max_price" placeholder="Maximum">
							<button id="price_submit_btn"><i class="fas fa-caret-right"></i></button>
					</form>
				</div>
				<div class="filter_types">
					<ul class="filter_type">
						<h3>Rating</h3>
						<li class="filter_option"><a href="">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</a></li>
						<li class="filter_option"><a href="">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
							</a>And up</li>
						<li class="filter_option"><a href="">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star-half-alt"></i>
								<i class="far fa-star"></i>
							</a>And up</li>
						<li class="filter_option"><a href="">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
							</a>And up</li>
						<li class="filter_option"><a href="">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
								<i class="far fa-star"></i>
							</a>And up</li>
					</ul>
				</div>
				<div class="filter_types">
					<ul class="filter_type">
						<h3>Filter By</h3>
						<li class="filter_option"><a href="">Option one</a></li>
						<li class="filter_option"><a href="">Option two</a></li>
						<li class="filter_option"><a href="">Option three</a></li>
						<li class="filter_option"><a href="">Option four</a></li>
					</ul>
				</div>
				<div class="filter_types">
					<ul class="filter_type">
						<h3>Filter By</h3>
						<li class="filter_option"><a href="">Option one</a></li>
						<li class="filter_option"><a href="">Option two</a></li>
						<li class="filter_option"><a href="">Option three</a></li>
						<li class="filter_option"><a href="">Option four</a></li>
					</ul>
				</div>
				<div class="filter_types">
					<ul class="filter_type">
						<h3>Filter By</h3>
						<li class="filter_option"><a href="">Option one</a></li>
						<li class="filter_option"><a href="">Option two</a></li>
						<li class="filter_option"><a href="">Option three</a></li>
						<li class="filter_option"><a href="">Option four</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="products_container" id="shop_products_container">
			<% for(let i=1; i < 10; i++) { %>
			<a href="/product/detail" class="product">
				<div class="product_img">
					<div class="detail">
						<h2 class="dt">View</h2>
					</div>
				</div>
				<div class="product_detail_short">
					<h1>A fancy title of the product</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing
						elit.
						laudantium nemo ...</p>
				</div>
				<div class="product_footer">
					<form class="add_cart_form" action="">
						<h3 class="product_price">Price: 27$</h3>
						<button class="add_to_cart_btn">Add to cart</button>
					</form>
				</div>
			</a>
			<% } %>
		</div>
	</section>

	<section id="sale">
		<div id="sale_detail">
			<h3 id="sale_head_sub">Special promo</h3>
			<h1 id="sale_head_main">Summer Sale</h1>
			<p id="sale_about">Lorem ipsum dolor sit amet consectetur
				adipisicing elit. Officiis, eum aliquam nemo iusto fuga
				corrupti quis? Esse exercitationem minus delectus,
				doloremque rem corporis eius nisi recusandae eos unde?
				Accusamus, praesentium?</p>
		</div>
		<div id="sale_deadline">
			<div class="sale_dead_time">
				<h1 id="reamin_week">20</h1>
				<h1>weeks</h1>
			</div>
			<div class="sale_dead_time">
				<h1 id="reamin_days">2</h1>
				<h1>days</h1>
			</div>
			<div class="sale_dead_time">
				<h1 id="reamin_hr">14</h1>
				<h1>hours</h1>
			</div>
			<div class="sale_dead_time">
				<h1 id="reamin_min">20</h1>
				<h1>minutes</h1>
			</div>
			<div class="sale_dead_time">
				<h1 id="reamin_sec">10</h1>
				<h1>seconds</h1>
			</div>
		</div>
	</section>
	<section id="promotions">
		<h1>Popular Views by customers</h1>
		<div id="promotions_container">
			<% for(let i=1; i < 5; i++) { %>
			<a href="/product/detail" class="promote">
				<div class="promo_img">
					<div class="promo_detail">
						<h2 class="promo_dt">New Arivals</h2>
					</div>
				</div>
			</a>
			<% } %>
		</div>
	</section>
	<button class="scroll_top"><i class="fas fa-chevron-up"></i></button>

	<%- include('./includes/common_view/footer.ejs') %>



	<script type="module" src="/scripts/shop.js"></script>
	<script type="module" src="/scripts/shop_sub/countdown.js"></script>


	<% -include('./includes/common_view/end.ejs') %></div>