:root{
    --contrast-color:#80DEEA;
}
#style_1
{
    position: absolute;
    width: 100%;
    height: 5vh;
    top: 0;
    background: var(--contrast-color);
    z-index: 4;
}
#style_2
{
    position: absolute;
    width: 100%;
    height: 40%;
    background-color:rgba(189,195,199 ,.5);
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
#style_2 h1
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: transparent;
}
#style_2 h1 span
{
    margin: 30px;
    font-size: 10vw;
}
#style_3
{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: rgba(189,195,199 ,.5);
    left: 0;
}
#container
{
    position: absolute;
    background-color:white;
    height: 60%;
    width: 40%;
    top: 50%;
    left: 85%;
    transform: translate(-75%,-50%);
    box-shadow: 0 12px 12px -2px gray;
    border: .5px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    overflow: hidden;
    z-index: 3;
    opacity: 0;
}
#signin
{
    position: relative;
    width: 50%;
    height: 100%;
}
#signup
{
    position: relative;
    width: 50%;
    height: 100%;
}
.form
{
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.signup_form
{
    right: 0;
}
.signin_form
{
    left: 0;
}
#create_ac,#already_hv{
    display: none;
}
.form input
{
    margin-top: 1em;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: #E0F2F1;
    font-size: 16px;
    width: 60%;
}
.form button
{
    margin-top: 1.2em;
    padding: 15px 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #eee;
    background-color: var(--contrast-color);
    cursor: pointer;
    font-size: 16px;
}
.form h1
{
    margin-bottom:1em;
    font-size: 30px;
}
.form p{
    font-size: 15px;
    margin: 0 auto;
}
.content
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, var(--contrast-color) , var(--contrast-color));
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.signin_content
{
    right: 0;
}
.signup_content
{
    left: 0;
}
.greetings
{
    font-size: 30px;
    text-align: center;
    background: transparent;
    color:white;
    line-height: 1.2em;
}
.form_text
{
    margin: 1.5em 2em;
    font-size: 15px;
    text-align: center;
    background: transparent;
    color: white;
}
.cng_btn
{
    position: relative;
    font-size: 18px;
    padding: 15px 30px;
    outline: none;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}
.left_shift
{
    left: -100%;
}
.right_shift
{
    right: -100%;
}

@media screen and (max-width: 900px) {

    #container{
        position: absolute;
        background-color:white;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: translate(0%,0%);
        box-shadow: 0 12px 12px -2px gray;
        border: .5px solid black;
        display: flex;
        flex-direction: row;
        border-radius: 3px;
        overflow: hidden;
        z-index: 3;
        opacity: 1;
    }
    .signup_form{
        right: 0%;
    }
    .signin_content{  
        right: 0%;
    }
    .signin_form{
        left:100%;
    }
    .signup_content{
        left:0%;
    }

    #signin{
        position: absolute;
        width: 100%;
        height: 100%;
        left:-100%;
    }
    #signup{
        position: absolute;
        width: 100%;
        height:100%;
        left:100%;
    }
    .form input{
        margin-top: 1em;
        padding: 15px;
        border-radius: 5px;
        border: none;
        background: #E0F2F1;
        font-size: 18px;
        width: auto;
    }
    #create_ac,#already_hv{
        display: block;
        margin:2em;
        cursor: pointer;
    }
}