.products_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem;
}
.product{
    margin:1rem;
    box-shadow: 0px 6px 10px gray;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: black;
}
.product_img{
    height: 15vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('/images/sample_1.jpg');
}
.detail{
    width: 95%;
    height: 95%;
    opacity: 0;
    background-color: black;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dt{
    display: block;
    color: white;
    border-top: 8px solid white;
    border-bottom:8px solid white ;
    padding: 20px 0px;
    transition: .3s;
}
.product_price{
    font-size: 1rem;
}
.product:hover .detail{
    width: 75%;
    height: 75%;
    opacity: .6;
}
.product:hover .dt{
    padding: 0px;
}
.product_detail_short,.product_footer{
    padding: 0  1em;
}
.product_detail_short{
    text-align: center;
}
.product_footer{
    margin-bottom: 1em;
}
.product_detail_short h1{
    margin-top: 1rem;
    font-size: 1.3rem;
}
.product_detail_short p{
    margin:1rem 0;
    line-height: 130%;
    font-size: 1rem;
}
.add_cart_form{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.add_to_cart_btn{
    padding: 1em;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    background: transparent;
    transition: .4s;
}
.add_to_cart_btn:hover{
    color: white;
    background-color: black;
}
.add_to_cart_btn,.product_price{
   margin: auto 0;
}
@media screen and (max-width:992px){
    .products_container{
        grid-template-columns: repeat(3,1fr); 
    }
    .product_img{
        height: 20vw;
    }
}
@media screen and (max-width:768px){
    .products_container{
        grid-template-columns: repeat(2,1fr);
    }
    .product_img{
        height: 30vw;
    }
    .add_to_cart_btn{
        padding: .8rem;
        border: 0px solid black;
        background-color: darkorange;
    }
}
@media screen and (max-width:480px){
    /* .products_container{
        grid-template-columns: repeat(1,1fr);
    } */
    .products_container{
        grid-template-columns: repeat(1,1fr);
        padding: .5rem;
    }
    .product_img{
        height: 40vh;
    }
    /* .product{
        margin:.5rem;
    }
    .product_img{
        height: 20vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image:url('/images/sample_1.jpg');
    }
    .dt{
        display: block;
        color: white;
        border-top: 8px solid white;
        border-bottom:8px solid white ;
        padding: 20px 0;
        transition: .3s;
    }
    .product_detail_short,.product_footer{
        padding: 0  .5rem;
    }
    .product_detail_short h1{
        margin-top: .5rem;
        font-size: 1rem;
    }
    .product_detail_short p{
        margin:.5rem 0;
        font-size: 1rem;
    }
    .add_to_cart_btn{
        padding: .5em;
        border: 0px solid black;
        background-color: darkorange;
    } */
}

