<div class="cart_product_view">
    <div class="product">
        <div class="cart_product_img">
            <img src="/images/sample_1.jpg" alt="" >
        </div>
        <p class="product_name">pruduct name</p>
    </div>
    <div class="price">
        <p>$50</p>
    </div>
    <div class="amount_display">
        <button class="amount_decrease">-</button>
        <input type="text" value="1" name="amount" class="amount">
        <button class="amount_increase">+</button>
    </div>
    <div class="total">
        <p>$250 <i class="fas fa-times remove_prod" style="margin-left: 2em;"></i></p>
    </div>
</div>


