<%- include('../includes/common_view/head.ejs') %>

<link rel="stylesheet" type="text/css" href="/css/checkout.css">


</head>

<body>

    <header id="header">
        <%- include('../includes/common_view/navigation.ejs') %>
        <%- include('../includes/common_view/headadd.ejs') %>
    </header>

    <section>
        <h1>Shopping Cart Information</h1>
        <form action="" id="checkout_form">
            <div id="user_detail">
                <div class="full_width input_container"><label class="field_name"></label>Country</label><input class="input" type="text" name="country" id="country" placeholder="Country"></div>
                <div class="half_width input_container"><label class="field_name"></label>First Name</label><input class="input" type="text" name="first_name" id="first_name" placeholder="First Name"></div>
                <div class="half_width input_container"><label class="field_name"></label>Second Name</label><input class="input" type="text" name="last_name" id="last_name" placeholder="Last Name"></div>
                <div class="full_width input_container"><label class="field_name"></label>Company</label><input class="input" type="text" name="company" id="company" placeholder="Company"></div>
                <div class="full_width input_container"><label class="field_name"></label>Address</label><input class="input" type="text" name="address" id="address" placeholder="Address"></div>
                <div class="full_width input_container"><label class="field_name"></label>Secondary Address</label><input class="input" type="text" name="sec_address" id="Secondary ddress" placeholder="sec_address"></div>
                <div class="full_width input_container"><label class="field_name"></label>Town</label><input class="input" type="text" name="town" id="town" placeholder="Town"></div>
                <div class="half_width input_container"><label class="field_name"></label>Provinch</label><input class="input" type="text" name="provinch" id="provinch" placeholder="Provinch"></div>
                <div class="half_width input_container"><label class="field_name"></label>Postal code</label><input class="input" type="text" name="postal_code" id="postal_code" placeholder="Postal Code"></div>
                <div class="half_width input_container"><label class="field_name"></label>Email</label><input class="input" type="text" name="email" id="email" placeholder="Email"></div>
                <div class="half_width input_container"><label class="field_name"></label>Phone</label><input class="input" type="text" name="phone" id="phone" placeholder="Phone"></div>
                
                <!-- <input class="input" type="text" name="product_image_url" id="product_image_url"
                    placeholder="product_image_url">
                <textarea class="input" name="product_detail" id="product_detail"
                    placeholder="product_detail"></textarea>
                <textarea class="input" name="about_product" id="about_product" placeholder="about_product"></textarea>
                <textarea class="input" name="product_specs" id="product_specs" placeholder="product_specs"></textarea> -->
            </div>
            <div id="finalize">
                <div id="purches_memo">
                    <h3>Your purchase hotory</h3>
                    <div class="money_amounts"><p>Price</p><h3>Total</h3></div>
                    <div class="money_amounts"><p>5 x Product Name</p><h3>$20</h3></div>
                    <div class="money_amounts"><p>6 x Prod Name</p><h3>$20</h3></div>
                    <div class="money_amounts"><p>8 x Prod Name</p><h3>$20</h3></div>
                    <div class="money_amounts"><p>9 x Prod  Name</p><h3>$20</h3></div>
                </div>
                <div id="payment_mathod">
                    <h3>Chose a payment mathod</h3>
                    <div>
                        <label for="">Payment Mathod Name</label><input type="radio" class="radio_input">
                    </div>
                    <div>
                        <label for="">Payment Mathod  Name</label><input type="radio" class="radio_input">
                    </div>
                    <div>
                        <label for="">Payment Mathod  Name</label><input type="radio" class="radio_input">
                    </div>
                    <div>
                        <button id="confirm_btn">Complete Purchase</button>
                    </div>

                </div>
            </div>
        </form>
    </section>

    <button class="scroll_top"><i class="fas fa-chevron-up"></i></button>

    <%- include('../includes/common_view/footer.ejs') %>

    <script type="module" src="/scripts/checkout.js"></script>

    <% -include('../includes/common_view/end.ejs') %>