<section id="subscribe">
    <p id="sb_txt">Subscribe to Get in Touch</p>
    <form id="subscription_form" action="">
        <input id="mail" type="text" placeholder="Your Fancy Email here">
        <button id="submit">Subscribe</button>
    </form>
</section>